body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

.login-container::before {
    content: "";
    background: url('hands.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.4; /* Adjust the opacity value to make the background lighter or darker */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Ensure the background is behind the content */
    border-radius: 10px; /* Match the border radius of the form container */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.login-btn, .cancel-btn {
    background-color: #f8c542;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    width: 45%;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
}

.links a:hover {
    text-decoration: underline;
}
