body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
}

header .logo img{
    height: 10px;
    width: 10px;
    margin-left: 100px;

}